```
node_modules
.next
# local env files
.env*.local
.env

# databases
*.db
*.db-journal
dev.db
build
*.log
.DS_Store

# Database
prisma/dev.db-journal
*.db
*.db-journal

# Scripts
scripts/create-test-user.js

# User Guide
help.md
