.container {
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    justify-content: center;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-primary);
    margin: 0;
}

.backButton {
    padding: 0;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        color: var(--text-primary);
        background: none;
    }

    position: absolute;
    top: 20px;
    left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    padding-top: 20px;
}